<!DOCTYPE html>
<html>
<head>
<meta name="dashboard" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="sidenav">
  <div align="center">
    <div  href="#EditarImagen" class= "circle"><img class="imagen" src="../../../assets/avatar.png"></div>
  </div>
  <p align="center" class="letra">{{usuario.nombre}} {{usuario.ap_paterno}}</p>
  <a href="#miArbol">Mi árbol</a>
  <a href="editar-perfil">Editar perfil</a>
  <a href="#exportar">Exportar árbol</a>
  <a href="#cuenta">Cuenta</a>
</div>

<div class="dash-section">
    <div class="alert alert-warning">Modo edición
        <button  class="btn btn-secondary btn-md btn-responsive derecha" >Cancelar</button>
        <button class="btn btn-secondary btn-md btn-responsive" >Guardar cambios</button>
    </div>
</div>

</body>
</html>
