<!DOCTYPE html>
<html>

<div class="sidenav">

  <div style="position: static">
    <div class="col-12"><i class="navbar-brand">
      <div><img src="../../../assets/usuario.png"></div>
    </i></div>
    <div style="position: static">
      <h5
        style="color: white; border-bottom-style: solid; border-width: .10em;text-align: center;border-color: white; border-top-style: solid">
        Datos personales</h5>
      <h6 style="color: white; padding-left: 10px; padding-top: 50px">Nombre: </h6>
      <h6 style="color: white; padding-left: 10px; padding-top: 10px">Apellido paterno: </h6>
      <h6 style="color: white; padding-left: 10px; padding-top: 10px">Apellido materno: </h6>
      <h6 style="color: white; padding-left: 10px; padding-top: 10px">Año de nacimiento: </h6>

    </div>

    <div>
      <h5
        style="color: white; border-bottom-style: solid; border-width: .10em; border-color: white; padding-top: 50px"></h5>


    </div>

    <div class="row text-center" style="margin-top: 60px">

      <div class="col-6"><a class="button" style="font-size: 15px;" title="borrar">
        <div><img style="height: 2rem" src="../../../assets/delete.png"></div>
        eliminar</a></div>

      <div class="col-6"><a class="button" style="font-size: 15px;" title="editar">
        <div><img style="height: 2rem" src="../../../assets/edit.png"></div>
        editar</a></div>


    </div>


  </div>


</div>


<div class="dash-section">
  <div class="tree">
    <ul>
      <li>
        <a href="#">Parent</a>
        <ul>
          <li>
            <a href="#">Child</a>
            <ul>
              <li>
                <a href="#">Grand Child</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Child</a>
            <ul>
              <li><a href="#">Grand Child</a></li>
              <li>
                <a href="#">Grand Child</a>
                <ul>
                  <li>
                    <a href="#">Great Grand Child</a>
                  </li>
                  <li>
                    <div>
                      <button style="border-radius: 50%;padding-left: 7px; padding-right: 7px; background-color: #857b26; color: white;
            		font-size: 25px">+
                      </button>
                    </div>

                    <div>
                      <a href="#">Great Grand Child</a></div>
                    <div>
                      <button style="border-radius: 50%;padding-left: 7px; padding-right: 7px; background-color: #857b26; color: white;
            		font-size: 25px">+
                      </button>
                    </div>


                  </li>
                  <li>
                    <a href="#">Great Grand Child</a>
                  </li>
                </ul>
              </li>
              <li><a href="#">Grand Child</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</html>
