<!DOCTYPE html>
<html>

<div class="sidenav">

  <div style="position: static">
    <!-- Se crea seccion donde esta el icono del usuario y los datos-->
    <div class="col-12"><i class="navbar-brand">
      <div><img src="../../../assets/usuario.png"></div>
    </i></div>
    <div style="position: static">
      <h5
        style="color: white; border-bottom-style: solid; border-width: .10em;text-align: center;border-color: white; border-top-style: solid">
        Datos personales</h5>
      <h6 style="color: white; padding-left: 10px; padding-top: 50px">Nombre: </h6>
      <h6 style="color: white; padding-left: 10px; padding-top: 10px">Apellido paterno: </h6>
      <h6 style="color: white; padding-left: 10px; padding-top: 10px">Apellido materno: </h6>
      <h6 style="color: white; padding-left: 10px; padding-top: 10px">Año de nacimiento: </h6>

    </div>

    <div>
      <h5
        style="color: white; border-bottom-style: solid; border-width: .10em; border-color: white; padding-top: 50px"></h5>


    </div>

    <div class="row text-center" style="margin-top: 60px">

      <!-- Seccion que posee los íconos de editar y eliminar-->
      <div class="col-6"><a class="button" style="font-size: 15px;margin: 2px" title="borrar">
        <div><img style="height: 2rem" src="../../../assets/delete.png"></div>
        eliminar</a></div>

      <div class="col-6"><a class="button" style="font-size: 15px;margin: 2px" title="editar">
        <div><img style="height: 2rem" src="../../../assets/edit.png"></div>
        editar</a></div>


    </div>


  </div>
</div>

<div class="dash-section">
  <br>
  <br>
<div class="tree" >
  <span [innerHTML] = "padre()"></span>
  <br>
  
  <ul>
    <li *ngFor="let item of lista">
      <a>{{item.nombre}}</a>
     
      <ul *ngIf = "item.hijo.length>0">
        <li>
         <app-boton [h]=item.hijo largo={{item.hijo.length}}></app-boton>
        </li>
      </ul>
    </li>
  
</ul>


 <ul>
    <li>
      <button><a>pedrito</a></button>
              <ul>
                <li>
                  <button><a>pedrito</a></button>
                </li>
              </ul>
    </li>  
    <li>
      <a>pedrito</a>
              <ul>
                <li>
                  <a>juanito</a>
                  <div><button class="boto">+</button></div>
                </li>
              </ul>
    </li>   

        
    
  </ul>
<!-- 
  <ul>
    <li>
      <div ><button style="">+</button></div>
      <a href="#">Juan</a>
      <ul>
        <li>
          <a href="#">José</a>
          <ul>
            <li>

                    <a href="#">Luis</a>
               
               <div ><button style="border-radius: 50%;padding-left: 7px; padding-right: 7px; background-color: #857b26; color: white;
                font-size: 25px">+</button></div>

            </li>
          </ul>
        </li>
        <li>
          <a href="#">Laura</a>
          <ul>
            <li>
              <a href="#">Matías</a>
              <div ><button style="border-radius: 50%;padding-left: 7px; padding-right: 7px; background-color: #857b26; color: white; font-size: 25px">+</button></div>
            </li>
            <li>
              <a href="#">Luisa</a>
              <ul>
                <li>
                  
                    <a href="#">Carlos</a>
                  <div ><button style="border-radius: 50%;padding-left: 7px; padding-right: 7px; background-color: #857b26; color: white;
                font-size: 25px">+</button></div>


                </li>
                <li>
                  <a href="#">Cristian</a>
                  <div ><button style="border-radius: 50%;padding-left: 7px; padding-right: 7px; background-color: #857b26; color: white; font-size: 25px">+</button></div>
                </li>
                
              </ul>
            </li>
            <li>
              <a href="#">Rosa</a>
              <div ><button style="border-radius: 50%;padding-left: 7px; padding-right: 7px; background-color: #857b26; color: white; font-size: 25px">+</button></div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>-->
</div>
</div>
</html>
