* {
    margin: 0;
    padding: 0;
}

.boto {
    border-radius: 50%;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #857b26;
    color: white;
    font-size: 25px
}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}


/*Se usara ::before y ::after para dibujar los conectores*/

.tree li::before,
.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 2px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 5px solid #ccc;
}


/*Se necesita remover los conectores izquierdos y derechos de los familiares sin ningun hermano*/

.tree li:only-child::after,
.tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}


/*Removiendo el conector izquierdo del primero hijo y el conector derecho del ultimo*/

.tree li:first-child::before,
.tree li:last-child::after {
    border: 0 none;
}


/*Añadiendo el conector verticar a los ultimos nodos*/

.tree li:last-child::before {
    border-right: 5px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}


/*Conectores hacia abajo de los padres*/

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 5px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a {
    border: 3px solid #ccc;
    padding: 10px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 20px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}


/*Efectos de deslizamiento con hover*/

.tree li a:hover,
.tree li a:hover+ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}


/*Estilos de los conectores con hover*/

.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}

.navbar-brand img {
    height: 8rem;
    position: relative;
    margin-left: 60px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.feature .fas,
.fab {
    color: #E74C3C;
    padding-bottom: 1rem;
}

.feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}

.feature p {
    font-size: 1.1rem;
}


/*Estilo de los botones editar y borrar*/

.button {
    background-color: white;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 16px 24px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    box-shadow: 0px 2px 0px #E74C3C;
}


/* Estilo del boton al momento de posicionar el puntero encima de este */

.button:hover {
    background-color: #E74C3C;
    color: #fff;
}


/*Estilo panel izquierdo y panel central*/

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.dash-section {
    margin-left: 610px;
    font-size: 28px;
    padding: 70px 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* El modal*/

#modal {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
}

#modal p {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
}

#cerrar-modal {
    display: none;
}

#cerrar-modal+label {
    position: absolute;
    top: 10em;
    right: 1em;
    z-index: 100;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: tomato;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    transition: all .5s;
    animation: autopopup 2s;
}

.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    /*rgba(0, 0, 0, 0.8)
    rgba(207, 143, 136, 0.1)*/
    z-index: 99999;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modalbox {
    width: 400px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: rgba(255, 239, 237, 0.884);
    border-radius: 3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.card {
    background: rgba(0, 0, 0, 0.6)!important;
}

.reg-form-card {
    background: rgba(156, 38, 25, 0.1)!important;
}

.movedown {
    pointer-events: auto;
    margin: 10% auto;
}

.modal_heading {
    box-sizing: border-box;
    width: 100%;
    display: block;
    height: 60px;
    margin-bottom: 30px;
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid tomato;
}

.btnRegister {
    background: tomato;
    color: white;
    font-size: 15pt;
    margin-top: 10px;
}

.btn-secondary {
    border-width: medium;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 1rem;
    padding: .6rem 1.2rem;
    color: white;
    background-color: #E74C3C;
    border-color: #E74C3C;
}

.btn-secondary:hover {
    background-color: #C91B11;
    border-color: #C91B11;
}

.btnRegister:hover {
    background: #b80000;
}