<!DOCTYPE html>
<html>
<div class="sidenav">
    <a href="#vaciar">Vaciar árbol</a>
    <a href="#copiar">Copiar árbol</a>
    <a href="#exportar">Exportar árbol</a>
</div>

<div class="dash-section">
    <br>
    <br>
    <div class="tree">
        <br>
        <ul>
            <!--Se va creando el arbol de manera recursiva-->
            <li *ngFor="let item of lista">
                <div><button class="boto" title="Agregar padre/madre" data-toggle="tooltip" (click)="openDialog()">+</button></div>
                <button class="boto" title="Agregar hermano(a)/pareja" data-toggle="tooltip" (click)="openDialog()">+</button><a>{{item.nombres}}</a><button class="boto" title="Agregar hermano(a)/pareja" data-toggle="tooltip" (click)="openDialog()">+</button>
                <ul *ngIf="item.hijo.length>0; else loggedOut">
                    <app-boton [h]=item.hijo largo={{item.hijo.length}}></app-boton>
                </ul>
            </li>
        </ul>
        <ng-template #loggedOut>
            <div><button class="boto">+</button></div>
        </ng-template>
    </div>
</div>

</html>