<!DOCTYPE html>
<html>
<div class="sidenav">

  <div align="center">
    <div  href="#EditarImagen" class= "circle"><img class="imagen" src="../../../assets/avatar.png"></div>
  </div>
  <p align="center" class="letra">{{usuario.nombre}} {{usuario.ap_paterno}}</p>
  <a href="#miArbol">Mi árbol</a>
  <a href="editar-perfil">Editar perfil</a>
  <a href="#exportar">Exportar árbol</a>
  <a href="#cuenta">Cuenta</a>
=======
    <a href="#vaciar">Vaciar árbol</a>
    <a href="#copiar">Copiar árbol</a>
    <a href="#exportar">Exportar árbol</a>

</div>

<div class="dash-section">
    <br>
    <br>
    <div class="tree">
        <br>
        <ul>
            <!--Se va creando el arbol de manera recursiva-->
            <li *ngFor="let item of lista">
                <div><button class="boto" title="Agregar padre/madre" data-toggle="tooltip">+</button></div>
                <button class="boto" title="Agregar hermano(a)/pareja" data-toggle="tooltip">+</button><a>{{item.nombres}}</a><button class="boto" title="Agregar hermano(a)/pareja" data-toggle="tooltip">+</button>
                <ul *ngIf="item.hijo.length>0; else loggedOut">
                    <app-boton [h]=item.hijo largo={{item.hijo.length}}></app-boton>
                </ul>
            </li>
        </ul>
        <ng-template #loggedOut>
            <div><button class="boto">+</button></div>
        </ng-template>
    </div>
</div>
</html>
