<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a href="#" class="navbar-brand"><img src="./../assets/logo.png"></a> <!-- Se inserta el logo de la página-->
    <button type="button" class="navbar-toggler" data-toggle="collapse"
    data-target="#navbarResponsive"> <!-- Hace que la pagina sea responsive  -->
        <span class="navbar-toggler-icon"></span> <!-- Se crea el icono de mennú cuando la pantalla sea compacta -->
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Inicio</a> <!-- Se crea el item inicio -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sectiona">Nosotros</a> <!--Se crea el item cuenta -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sectionb">Comunidad</a><!-- Se crea el item notificaciones -->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#sectionc">Regístrate</a> <!--Se crea el item para salir  -->
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>