<div id="home" class="offset">
  <!-- landing page -->
  <div class="landing">
    <div class="home-wrap">
      <div class="home-inner">
      </div>
    </div>
  </div>
  <!-- comienza a crearse la primera sección de la página  -->
  <div class="row caption">
    <div class="col-md-7 col-sm-4 col-xs-12">
      <div class="text-left">
        <h1>MI ÁRBOL GENEALÓGICO</h1> <!-- Titilo de la primera sección  -->
        <div class="container-fluid">
        </div>
      </div>
    </div> <!-- Se divide la sección para dar un ajuste de posición del login -->
    <div class="col-md-5 col-sm-4 col-xs-12">
      <div class="card">
        <div class="card-body">
          <form >
            <div class="form-group">
              <h4> Iniciar sesión</h4> <!-- Título de inicio de sesión -->
              <label class="sr-only" for="exampleInputEmail3">Email</label> <!-- Se crea un label para ingresar el email del usuario -->
              <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Ej: alan.turing@live.cl">
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword3">Contraseña</label>  <!-- Se crea un label para ingresar la contraseña del usuario -->
              <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Contraseña">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Recordar<!-- Se crea la opción de recordar la cuenta -->
              </label>
            </div>
            <div class="custom-box">
              <a href="#sectione" class="btn btn-outline-light btn-lg"> Ingresar</a>  <!-- Se crea el botón de ingresar a la cuenta del usuario -->
              <p> o bien </p>
              <a  href="#sectionc" class="btn btn-outline-light btn-lg"> Regístrate</a> <!-- Se crea el boton registrate -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Termina la creación de la primera sección de la página -->
</div>
<!-- end home -->

<!-- sección A -->
<!-- Comienza la sección dos de la página-->
<div id="sectiona" class="offset">

  <!-- jumbotron -->
  <div class="jumbotron">
    <div class="narrow text-center">

      <div class="col-12"> <!-- Se asigna la posición del texto -->
        <h3 class="heading">Crea tu árbol genealógico en linea</h3> <!--Se crea un título para la segunda sección -->
        <div class="heading-underline"></div>
      </div>
      <div class="row text-center">

        <div class="col-md-4"> <!--Se asigna la posición -->
          <div class="feature">
            <i  href="#" class="navbar-brand"><img src="../../../assets/logo.png"></i> <!-- Se inserta una imagen -->
            <h3>¿Qué es Mi árbol genealógico ?</h3> <!-- Se crea una entiqueta-->
            <p>Es una página web que busca que sus usuarios puedan crear una representación gráfica de sus antepasados y descendientes de forma organizada y sistemática.</p> <!-- Se escribe un parrafo -->
          </div>
        </div>

        <div class="col-md-4">
          <div class="feature">
            <i class="fas fa-user-plus fa-4x" data-fa-transform="shrink-4.6 up-4.6"></i>
            <h3>¿Cómo ser parte?</h3> <!-- se crea una etiqueta-->
            <p>Regístrate en nuestra página y podrás crear el árbol de tu familia en sencillos pasos. </p> <!-- Se escribe un parrafo-->
            <a  href="#sectionc" class="btn btn-secondary btn-md">Regístrate</a>
          </div>
        </div>

        <div class="col-md-4"> <!-- Se asigna una posición -->
          <div class="feature">
            <i class="fas fa-question-circle fa-4x" data-fa-transform="shrink-4.5 up-4.5"></i>
            <h3>¿Cómo crear mi árbol genealógico?</h3>
            <p>¡Es muy fácil!, una vez creada tu cuenta sólo debes ingresar el parentezco, los nombres, apellidos, fechas de nacimiento y fotografías de tus familiares y podrás ir creando tu propio árbol familiar. </p>
          </div>
        </div>
      </div><!-- end row -->
    </div><!-- end narrow -->
  </div><!-- end jumbotron -->
</div>
<!-- Termina la sección A -->

<!-- Comienza la sección B -->
<div id="sectionb" class="offset">
  <div class="fixed-background">
    <div class="row dark text-center">
      <div class="col-12">
        <h3 class="heading">Nuestra Comunidad </h3>
        <div class="heading-underline"></div>
      </div>

      <div class="col-md-4">
        <h3>Alcance Global</h3>
        <div class="feature">
          <i class="fas fa-globe-americas fa-4x"></i>
        </div>
        <p class="lead">Contamos con cientos de miles de  millones de usuarios alrededor de
          todo el mundo ¡podrás enterarte de tus parientes más lejanos!</p>
      </div>

      <div class="col-md-4">
        <h3>Alta probabilidad...</h3>
        <div class="feature">
          <i class="fas fa-percent fa-4x"></i>
        </div>
        <p class="lead">¿Tu padre salió por cigarrillos y lleva años sin regresar?
          contamos con la mejor probabilidad porcentual de reencuentro para familias
          disfuncionales separadas por el destino
        </p>
      </div>

      <div class="col-md-4">
        <h3>¡Ni te imaginas!</h3>
        <div class="feature">
          <i class="fas fa-female fa-4x"></i>
        </div>
        <p class="lead">Las posibilidades son infinitas: uniéndote a <i>Mi Árbol Genealógico</i>
        y a su vasta comunidad podrás encontrar a... ¡si! ¡incluso podrás encontrar a la hermana de tu mejor amigo!
        </p>
      </div>

    </div><!-- end row dark -->
    <div class="fixed-wrap">
      <div class="fixed">
      </div>
    </div>
  </div><!-- end fixed background -->
</div>
<!-- end section B -->

<!-- Comienza la sección C -->
<div id="sectionc" class="offset">
  <!-- jumbotron -->
  <div class="jumbotron">
    <div class="col-12 text-center">
      <p class="lead">¿Aun no tienes una cuenta en Mi Árbol Genealógico?</p><!--Se crea un parrafo-->
      <p class="lead">regístrate llenando el siguiente formulario:</p><!--Se crea un parrafo-->
      <div class="heading-underline"></div>

<div class="reg-form-box">
  <div class="card col-md-9">
    <form>
      <div class="form-row">
        <div class="form-group col-md-5">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-4">
          <label for="inputPassword4">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Contraseña">
        </div>
        <div class="form-group col-md-3">
          <label for="inputState">Sexo</label>
          <select id="inputState" class="form-control">
            <option selected>Selecciona tu sexo</option>
            <option>Masculino</option>
            <option>Femenino</option>
            <option>Otro</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputAddress1">Nombres</label>
          <input type="text" class="form-control" id="inputAddress1" placeholder="Dennis MacAlistair">
        </div>

        <div class="form-group col-md-4">
          <label for="inputAddress2">Apellido Paterno</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Ritchie">
        </div>

        <div class="form-group col-md-4">
          <label for="inputAddress2">Apellido Materno</label>
          <input type="text" class="form-control" id="inputAddress3" placeholder="Turing">
        </div>

      </div>

      <div class="form-row align-items-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <a href="#" class="btn btn-secondary btn-md" target="_blank">Registrarse</a> <!-- Se crea el botón registrate -->
        </div>
        <div class="col-md-4"></div>
      </div>
    </form>
  </div>
</div>


    </div>
    <div class="heading-underline"></div>
  </div>
  <!-- Termina la sección C -->


  <!-- Comienza la sección D -->
  <div id="sectiond" class="offset">
    <footer>
      <div class="row justify-content-center">
        <div class="col-md-5 text-center"><!--Se asigna una posición -->
          <img src="../../../assets/logo.png"><!-- Se inserta el logo -->
          <p>
            Mi árbol genealógico. <!-- Se crea un parrafo-->
          </p>
        </div>
      </div>


    </footer>
  </div>
  <!-- end section 5 -->


  <!-- scrips -->
  <script src="js/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
        crossorigin="anonymous">
</div>
