<div id="home" class="offset">

  <!-- landing page -->
  <div class="landing">
    <div class="home-wrap">
      <div class="home-inner">
      </div>
    </div>
  </div>
  <div class="caption text-center">
    <h1>Titulo</h1>
    <h3>subtitulo</h3>
    <a href="#sectione" class="btn btn-outline-light btn-lg">fuck off</a>
  </div>
  <!-- end landing page -->

  <!-- section 1 -->
  <div id="sectiona" class="offset">
    <div class="col-12 narrow text-center">
      <h1>Títutulo de esta sección</h1>
      <p class="lead">algún texto que diga algo interesante</p>
      <a href="#" class="btn btn-secondary btn-md" target="_blank">Algun texto</a>
    </div>
  </div>
  <!-- end section 1 -->

  <!-- section 2 -->
  <div id="sectionb" class="offset">

    <!-- jumbotron -->
    <div class="jumbotron">
      <div class="narrow text-center">

        <div class="col-12">
          <h3 class="heading">Features</h3>
          <div class="heading-underline"></div>
        </div>
        <div class="row text-center">

          <div class="col-md-4">
            <div class="feature">
              <i class="fas fa-play-circle fa-4x" data-fa-transform="shrink-3 up-5"></i>
              <h3>Custom Animation</h3>
              <p>Texto de ejemplo, debería se como un parrafo para que se note el efecto del resizeo y weas </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="feature">
              <i class="fas fa-sliders-h fa-4x" data-fa-transform="shrink-4.5 up-4.5"></i>
              <h3>Content Slider</h3>
              <p>Texto de ejemplo, debería se como un parrafo para que se note el efecto del resizeo y weas </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="feature">
              <i class="fab fa-wpforms fa-4x" data-fa-transform="shrink-4 up-5"></i>
              <h3>Contact Form</h3>
              <p>Texto de ejemplo, debería se como un parrafo para que se note el efecto del resizeo y weas </p>
            </div>
          </div>
        </div><!-- end row -->
      </div><!-- end narrow -->
    </div><!-- end jumbotron -->


  </div>
  <!-- end section 2 -->

  <!-- section 3 -->
  <div id="sectionc" class="offset">
    <div class="fixed-background">
      <div class="row dark text-center">
        <div class="col-12">
          <h3 class="heading">Hecho con lov</h3>
          <div class="heading-underline"></div>
        </div>

        <div class="col-md-4">
          <h3>HTML 5</h3>
          <div class="feature">
            <i class="fas fa-code fa-3x"></i>
          </div>
          <p class="lead">Ultimate ache te eme ele cynko</p>
        </div>

        <div class="col-md-4">
          <h3>BOOTSTRAP 4</h3>
          <div class="feature">
            <i class="fas fa-bold fa-3x"></i>
          </div>
          <p class="lead">Ultimate bustrap</p>
        </div>

        <div class="col-md-4">
          <h3>CSS 3</h3>
          <div class="feature">
            <i class="fab fa-css3 fa-3x"></i>
          </div>
          <p class="lead">Ultimate ce ese ese </p>
        </div>

      </div><!-- end row dark -->
      <div class="fixed-wrap">
        <div class="fixed">
        </div>
      </div>
    </div><!-- end fixed background -->
  </div>
  <!-- end section 3 -->

  <!-- section 4 -->
  <div id="sectiond" class="offset">
    <!-- jumbotron -->
    <div class="jumbotron">
      <div class="col-12 text-center">
        <h3 class="heading">Clientes</h3>
        <div class="heading-underline"></div>
      </div>

      <div class="row">
        <div class="col-md-6 sectiond">
          <div class="row">
            <div class="col-md-4">
              <img src="../../../assets/client1.png">
            </div>
            <div class="col-md-8">
              <blockquote>
                <i class="fas fa-quote-left"></i>
                <p>
                  drugs drugs drugs drugs drugs drugs drugs drugs
                  drugs drugs drugs drugs drugs drugs drugs drugs
                  drugs drugs drugs drugs drugs drugs drugs drugs
                  drugs drugs drugs drugs drugs drugs drugs drugs
                  drugs drugs drugs drugs drugs drugs drugs drugs
                </p>
                <hr class="sectiond-hr">
                <cite>&#8212; Motherfucker, star client</cite>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="col-md-6 sectiond">
          <div class="row">
            <div class="col-md-4">
              <img src="../../../assets/client2.png">
            </div>
            <div class="col-md-8">
              <blockquote>
                <i class="fas fa-quote-left"></i>
                drugs drugs drugs drugs drugs drugs drugs drugs
                drugs drugs drugs drugs drugs drugs drugs drugs
                drugs drugs drugs drugs drugs drugs drugs drugs
                drugs drugs drugs drugs drugs drugs drugs drugs
                drugs drugs drugs drugs drugs drugs drugs drugs
                <hr class="sectiond-hr">
                <cite>&#8212; Bitch, star client</cite>
              </blockquote>
            </div>
          </div>
        </div>
      </div><!-- end row -->
    </div><!-- end jumbotron -->
    <div class="col-12 narrow text-center">
      <p class="lead">Te gustaría queseyo nuestra oferta?</p>
      <a href="#" class="btn btn-secondary btn-md" target="_blank">Acceder a la oferta</a>
    </div>
  </div>
  <!-- end section4 -->

  <!-- section 5 -->
  <div id="sectione" class="offset">
    <footer>
      <div class="row justify-content-center">
        <div class="col-md-5 text-center">
          <img src="../../../assets/nav/logo.png">
          <p>
            drugs drugs drugs drugs drugs drugs drugs drugs drugs
            drugs drugs drugs drugs drugs drugs drugs drugs drugs
            drugs drugs drugs drugs drugs drugs drugs drugs drugs
            drugs drugs drugs drugs drugs drugs.
          </p>
          <strong>Contact Info</strong>
          <p>(888) 888-8888 <br>email@fuck.com</p>
          <a href="#" target="_blank"> <i class="fab fa-facebook-square"></i> </a>
          <a href="#" target="_blank"> <i class="fab fa-twitter-square"></i> </a>
          <a href="#" target="_blank"> <i class="fab fa-instagram"></i> </a>
        </div>
        <hr class="socket">
        &copy; PantoneHat Ltda.
      </div>
    </footer>
  </div>
  <!-- end section 5 -->


  <!-- scrips -->
  <script src="js/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
        crossorigin="anonymous">
</div>
