<div id="home" class="offset">
  <!-- landing page -->
  <div class="landing">
    <div class="home-wrap">
      <div class="home-inner">
      </div>
    </div>
  </div>
  <!-- comienza a crearse la primera sección de la página  -->
  <div class="row caption">
    <div class="col-md-6 col-sm-4 col-xs-12">
      <div class="text-left">
        <h1>MI ÁRBOL GENEALÓGICO</h1> <!-- Titilo de la primera sección  -->
        <a href="#sectione" class="btn btn-outline-light btn-lg"> Regístrate</a> <!-- Se crea el boton registrate -->
        <div class="container-fluid">
        </div>
      </div>
    </div> <!-- Se divide la sección para dar un ajuste de posición del login -->
    <div class="col-md-6 col-sm-4 col-xs-12">
      <div class="card">
        <div class="card-body">
          <form >
            <div class="form-group">
              <h4> Iniciar sesión</h4> <!-- Título de inicio de sesión -->
              <label class="sr-only" for="exampleInputEmail3">Email</label> <!-- Se crea un label para ingresar el email del usuario -->
              <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email (email@ejemplo.com)">

            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputPassword3">Contraseña</label>  <!-- Se crea un label para ingresar la contraseña del usuario -->
              <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Contraseña">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Recordar<!-- Se crea la opción de recordar la cuenta -->
              </label>
            </div>
            <a href="#sectione" class="btn btn-outline-light btn-lg"> Ingresar</a>  <!-- Se crea el botón de ingresar a la cuenta del usuario -->
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Termina la creación de la primera sección de la página -->
</div>
<!-- end home -->

<!-- sección 2 -->
<!-- Comienza la sección dos de la página-->
<div id="sectionb" class="offset">

  <!-- jumbotron -->
  <div class="jumbotron">
    <div class="narrow text-center">

      <div class="col-12"> <!-- Se asigna la posición del texto -->
        <h3 class="heading">Crea tu árbol genealógico en linea</h3> <!--Se crea un título para la segunda sección -->
        <div class="heading-underline"></div>
      </div>
      <div class="row text-center">

        <div class="col-md-4"> <!--Se asigna la posición -->
          <div class="feature">
            <i  href="#" class="navbar-brand"><img src="../../../assets/logo.png"></i> <!-- Se inserta una imagen -->
            <h3>¿Qué es Mi árbol genealógico ?</h3> <!-- Se crea una entiqueta-->
            <p>Es una página web que busca que sus usuarios puedan crear una representación gráfica de sus antepasados y descendientes de forma organizada y sistemática.</p> <!-- Se escribe un parrafo -->
          </div>
        </div>

        <div class="col-md-4"><!-- Se asigna una posición-->
          <div class="feature">
            <i  href="#" class="navbar-brand"><img src="../../../assets/unirse.png"></i> <!-- Se inserta una imagen-->
            <h3>¿Cómo ser parte?</h3> <!-- se crea una etiqueta-->
            <p>Regístrate en nuestra página y podrás crear el árbol de tu familia en sencillos pasos </p> <!-- Se escribe un parrafo-->
          </div>
        </div>

        <div class="col-md-4"> <!-- Se asigna una posición -->
          <div class="feature">
            <i  href="#" class="navbar-brand"><img src="../../../assets/interrogacion.png"></i>
            <h3>¿Cómo crear mi árbol genealógico?</h3>
            <p>¡Es muy fácil!, una vez creada tu cuenta sólo debes ingresar el parentezco, los nombres, apellidos, fechas de nacimiento y fotografías de tus familiares y podrás ir creando tu propio árbol familiar. </p>
          </div>
        </div>
      </div><!-- end row -->
    </div><!-- end narrow -->
  </div><!-- end jumbotron -->
</div>
<!-- Termina la sección 2 -->

<!-- Comienza la sección 3 -->
<div id="sectionc" class="offset">
  <div class="fixed-background">
    <div class="row dark text-center">
      <div class="col-12">
        <h3 class="heading">Aquí va algo </h3>
        <div class="heading-underline"></div>
      </div>

      <div class="col-md-4">
        <h3>Algo aqui</h3>
        <div class="feature">
          <i  href="#" class="navbar-brand"><img src=""></i>
        </div>
        <p class="lead">Aquí también </p>
      </div>

      <div class="col-md-4">
        <h3>Algo aqui</h3>
        <div class="feature">
          <i  href="#" class="navbar-brand"><img src=""></i>
        </div>
        <p class="lead">Aquí también</p>
      </div>

      <div class="col-md-4">
        <h3>Algo aqui</h3>
        <div class="feature">
          <i  href="#" class="navbar-brand"><img src=""></i>
        </div>
        <p class="lead">Aquí también </p>
      </div>

    </div><!-- end row dark -->
    <div class="fixed-wrap">
      <div class="fixed">
      </div>
    </div>
  </div><!-- end fixed background -->
</div>
<!-- end section 3 -->

<!-- Comienza la sección 4 -->
<div id="sectiond" class="offset">
  <!-- jumbotron -->
  <div class="jumbotron">
    <div class="col-12 text-center">
      <p class="lead">¿Te gustaría crear tu propio árbol genealógico?</p><!--Se crea un parrafo-->
      <a href="#" class="btn btn-secondary btn-md" target="_blank">Regístrate</a> <!-- Se crea el botón registrate -->
    </div>
    <div class="heading-underline"></div>
  </div>


  <!-- Comienza la sección 5 -->
  <div id="sectione" class="offset">
    <footer>
      <div class="row justify-content-center">
        <div class="col-md-5 text-center"><!--Se asigna una posición -->
          <img src="../../../assets/logo.png"><!-- Se inserta el logo -->
          <p>
            Mi árbol genealógico. <!-- Se crea un parrafo-->
          </p>


        </div>


      </div>


    </footer>
  </div>
  <!-- end section 5 -->


  <!-- scrips -->
  <script src="js/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
        crossorigin="anonymous">
</div>
